<h1>Hej <%= @user.email %></h1>
<h2>Session token <%= session[:current_access_token].inspect %></h2>
<h2><%= "session token udløber om ------------->" %><%= session[:token_expires_at] %> </h2>

<br />
<%= form_tag(controller: "dinero", action: "post_trade_offer", method: "post") do |f| %>
  <%= text_field_tag :contactName %>
  <%= text_area_tag :description %>
  <%= submit_tag "Create" %>
<% end %>

<%= form_tag(controller: "dinero", action: "delete_trade_offer", method: "post") do |f| %>
  <%= text_field_tag "guid", "GUID" %>
  <%= submit_tag "delete" %>
<% end %>

<ul>
<% @trade_offers.each do |offer| %>
  <li><%= offer["contactName"] %></li> 
  <li><%= offer["date"] %></li> 
  <li><%= offer["description"] %></li> 
  <br />
<% end %>
</ul>

<h3>Produkter</h3>
<ul>
<% @products.take(10).each do |product| %>
  <li>
    <b><%= product["Name"] %></b><br />
    <%= product["ProductGuid"] %>
  </li>
<% end %>
</ul>

<br />
<br />

<h3>Kontakter</h3>
<ul>
<% @contacts.take(10).each do |contact| %>
  <li>
    <b><%= contact["name"] %></b><br />
    <%= contact["contactGuid"] %>
  </li>
<% end %>
</ul>

